<footer class="footer">
    @* <div><a href="https://www.linkedin.com/in/muhammad-iqrom/">Iqrom</a> © 2022</div> *@
    <div><a href="https://www.undana.ac.id//">Copyright</a> © 2022</div>
</footer>

